<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>{{user.name}}</h2>
                    <img class="center-block" src="{{user.avatar_url}}" alt="{{user.login}}" height="300" />
                    <h4>{{user.login}}</h4>
                    <a href="mailto:{{user.email}}">
                      {{user.email}}
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="graph">
                        <pie-chart info="data" name="'Repos'" title="'Techs Used'"></pie-chart>
                    </div>
                </div>
            </div>

            <hr>
            <br>

            <h2 class="text-center">Repos</h2>

            <div class="row">
              <div class="col-md-3" ng-repeat="repo in repos">
                <div class="panel panel-primary text-center">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{repo.name}}</h3>
                  </div>
                  <div class="panel-body" ng-if="repo.description">
                    {{repo.description}}
                  </div>
                  <div class="panel-body" ng-if="!repo.description">
                    Sorry no description avalible
                  </div>
                </div>
              </div>
            </div>


        </div>
    </div>


</div>
