html, body {
    height: 100%;
}
.container{
  margin-top: 2%;
}

.mid{
  margin-top: 20%;
}
//components
@import "components/_spiner.scss";

// @import "components/_footer.scss";

// pages
@import "pages/_profiles.scss";
// @import "pages/_skills.scss";
// @import "pages/_experience.scss";
// @import "pages/_projects.scss";
